<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [2]:
import pandas as pd
import numpy as np

In [75]:
weather_data_df = pd.read_csv("weather_data.csv")
bike_data_df = pd.read_csv("bike_trip_data.csv")
pred_df = pd.read_csv("predictions.csv",header=None)

In [7]:
weather_data_df

,Date,TempHigh_F,TempAvg_F,TempLow_F,HumidityHigh_Percent,HumidityAvg_Percent,HumidityLow_Percent,VisibilityHigh_Miles,VisibilityAvg_Miles,VisibilityLow_Miles,WindHigh_MPH,WindAvg_MPH,WindGust_MPH,Precipitation_Inches,Events
0,1/1/14,69,54,39,83,68,52,10,10,8,13,4,22,0,NaN
1,1/2/14,55,44,33,83,55,26,10,10,9,21,8,31,0,NaN
2,1/3/14,58,43,28,75,49,22,10,10,10,14,4,21,0,NaN
3,1/4/14,71,57,42,89,68,47,10,10,8,16,7,28,0,NaN
4,1/5/14,59,47,34,87,59,31,10,10,4,21,10,34,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1091,12/27/16,76,69,62,97,72,46,10,10,10,7,1,11,T,NaN
1092,12/28/16,83,73,62,93,72,51,10,9,4,12,3,20,0,NaN
1093,12/29/16,70,60,49,84,51,18,10,10,10,18,9,30,0,NaN
1094,12/30/16,55,52,49,48,38,27,10,10,10,12,4,16,T,NaN
1095,12/31/16,77,64,51,90,70,50,10,10,4,10,3,18,T,Rain

In [8]:
weather_data_df.describe()

        TempHigh_F    TempAvg_F    TempLow_F
count  1096.000000  1096.000000  1096.000000
mean     80.449818    70.354927    59.733577
std      14.901051    14.210901    14.383851
min      32.000000    29.000000    22.000000
25%      71.000000    61.000000    49.000000
50%      83.000000    73.000000    63.000000
75%      92.000000    83.000000    73.000000
max     105.000000    92.000000    81.000000

In [9]:
weather_data_df.isna().sum()

Date                      0
TempHigh_F                0
TempAvg_F                 0
TempLow_F                 0
HumidityHigh_Percent      0
HumidityAvg_Percent       0
HumidityLow_Percent       0
VisibilityHigh_Miles      0
VisibilityAvg_Miles       0
VisibilityLow_Miles       0
WindHigh_MPH              0
WindAvg_MPH               0
WindGust_MPH              0
Precipitation_Inches      0
Events                  744
dtype: int64

In [10]:
weather_data_df.dtypes

Date                    object
TempHigh_F               int64
TempAvg_F                int64
TempLow_F                int64
HumidityHigh_Percent    object
HumidityAvg_Percent     object
HumidityLow_Percent     object
VisibilityHigh_Miles    object
VisibilityAvg_Miles     object
VisibilityLow_Miles     object
WindHigh_MPH            object
WindAvg_MPH             object
WindGust_MPH            object
Precipitation_Inches    object
Events                  object
dtype: object

In [51]:
print(list(bike_data_df[bike_data_df["start_station_name"].str.contains("Trinity")].start_station_name.unique()))
print(list(bike_data_df[bike_data_df["start_station_name"].str.contains("Convention")].start_station_name.unique()))
print(list(bike_data_df[bike_data_df["start_station_name"].str.contains("3rd")].start_station_name.unique()))

['Trinity & 6th Street']
['Convention Center / 4th St. @ MetroRail']
['3rd & West', 'Nueces @ 3rd']

In [76]:
pred_df = pred_df.rename(columns={0:"Month", 1:"Date", 2:"Address", 3:"Prediction"})
addresses_to_predict = list(pred_df.Address.unique())
print(len(addresses_to_predict),addresses_to_predict)

pred_df = pred_df[~pred_df["Address"].str.contains("Convention")]
addresses_to_predict = list(pred_df.Address.unique())
print(len(addresses_to_predict),addresses_to_predict)
pred_df.insert(2, 'year', 2016)
pred_df

10 ['17th & Guadalupe', '2nd & Congress', '5th & Bowie', '8th & Congress', 'City Hall / Lavaca & 2nd', 'Convention Center / 3rd & Trinity', 'Davis at Rainey Street', 'Guadalupe & 21st', 'South Congress & Academy', 'West & 6th St.']
9 ['17th & Guadalupe', '2nd & Congress', '5th & Bowie', '8th & Congress', 'City Hall / Lavaca & 2nd', 'Davis at Rainey Street', 'Guadalupe & 21st', 'South Congress & Academy', 'West & 6th St.']

      Month  Date  year                   Address  Prediction
0         1     1  2016          17th & Guadalupe          -1
1         1     1  2016            2nd & Congress          -1
2         1     1  2016               5th & Bowie          -1
3         1     1  2016            8th & Congress          -1
4         1     1  2016  City Hall / Lavaca & 2nd          -1
...     ...   ...   ...                       ...         ...
1234     10    31  2016  City Hall / Lavaca & 2nd          -1
1236     10    31  2016    Davis at Rainey Street          -1
1237     10    31  2016          Guadalupe & 21st          -1
1238     10    31  2016  South Congress & Academy          -1
1239     10    31  2016            West & 6th St.          -1

[1116 rows x 5 columns]

In [70]:
bike_data_df["Target"] = 1 + bike_data_df["duration_minutes"] * .1
bike_data_df = bike_data_df[bike_data_df['start_station_name'].isin(addresses_to_predict)]
bike_data_df

,month,day,year,start_time,duration_minutes,bikeid,start_station_id,start_station_name,end_station_id,end_station_name,Target
4,1,1,2014,2:12,15,40.0,2496.0,8th & Congress,2503.0,South Congress & James,2.5
5,1,1,2014,2:12,14,822.0,2496.0,8th & Congress,2503.0,South Congress & James,2.4
9,1,1,2014,3:12,22,311.0,2496.0,8th & Congress,2501.0,5th & Bowie,3.2
10,1,1,2014,3:12,21,80.0,2496.0,8th & Congress,2501.0,5th & Bowie,3.1
11,1,1,2014,3:12,19,647.0,2496.0,8th & Congress,2501.0,5th & Bowie,2.9
...,...,...,...,...,...,...,...,...,...,...,...
328665,12,31,2015,23:12,11,52.0,2501.0,5th & Bowie,1008.0,Nueces @ 3rd,2.1
328666,12,31,2015,23:12,10,995.0,2501.0,5th & Bowie,1008.0,Nueces @ 3rd,2.0
328667,12,31,2015,23:12,6,545.0,2501.0,5th & Bowie,1007.0,Lavaca & 6th,1.6
328668,12,31,2015,23:12,5,445.0,2501.0,5th & Bowie,1007.0,Lavaca & 6th,1.5
328669,12,31,2015,23:12,10,301.0,2547.0,Guadalupe & 21st,1007.0,Lavaca & 6th,2.0

In [79]:
bike_data_df['Date'] = bike_data_df[bike_data_df.columns[0:3]].apply(
    lambda x: '/'.join(x.dropna().astype(str)),
    axis=1
)

pred_df.insert(2, 'year', 2016)

In [80]:
bike_data_df

,month,day,year,start_time,duration_minutes,bikeid,start_station_id,start_station_name,end_station_id,end_station_name,Data
0,1,1,2014,0:12,20,428.0,2495.0,4th & Congress,2502.0,Barton Springs & Riverside,1/1/2014
1,1,1,2014,0:12,19,14.0,2495.0,4th & Congress,2502.0,Barton Springs & Riverside,1/1/2014
2,1,1,2014,0:12,17,172.0,2495.0,4th & Congress,2502.0,Barton Springs & Riverside,1/1/2014
3,1,1,2014,0:12,8,417.0,2498.0,Convention Center / 4th St. @ MetroRail,2498.0,Convention Center / 4th St. @ MetroRail,1/1/2014
4,1,1,2014,2:12,15,40.0,2496.0,8th & Congress,2503.0,South Congress & James,1/1/2014
...,...,...,...,...,...,...,...,...,...,...,...
328665,12,31,2015,23:12,11,52.0,2501.0,5th & Bowie,1008.0,Nueces @ 3rd,12/31/2015
328666,12,31,2015,23:12,10,995.0,2501.0,5th & Bowie,1008.0,Nueces @ 3rd,12/31/2015
328667,12,31,2015,23:12,6,545.0,2501.0,5th & Bowie,1007.0,Lavaca & 6th,12/31/2015
328668,12,31,2015,23:12,5,445.0,2501.0,5th & Bowie,1007.0,Lavaca & 6th,12/31/2015
328669,12,31,2015,23:12,10,301.0,2547.0,Guadalupe & 21st,1007.0,Lavaca & 6th,12/31/2015